{
  "presets": [
    ["@babel/preset-env",{ "modules": false }], 
    ["@babel/preset-react",{ "modules": false }]
  ],
  "plugins": [
    [ "module-resolver", {
        "root": [ "./src" ],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@graphql": "./src/graphql",
          "@layouts": "./src/layouts",
          "@public": "./src/public",
          "@reducers": "./src/reducers",
          "@routes": "./src/routes",
          "@theme": "./src/theme"
        }
      }
    ],
    [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}